<div class="col-lg-10 col-md-9 ucbg-white">
	<div class="uc-inpli">
	<form class="form-horizontal" id="form1" method="post" name="form1" role="form" action="/node/sort">
		<input type="hidden" name='id' value="<%=list.id%>">
		<input type="hidden" name='level' value="<%=list.level.current%>">
		<h1 class="uc-r-tit"><%=list.name%></h1>
		<div class="csdn-pagination ucfr">
				<h5><a href="/node/edit?pid=<%=list.id%>&level=<%=list.level.current%>&ptitle=<%=list.name%>"><%=list.hash.current%>级新建</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" onclick='$("#form1").submit();''>保存排序</a></h5>
		</div>
		<div class="uc-inpli" style="white-space: nowrap;">
			<!--高级查询结束-->
			<table class="table table-hover table-bordered" id="itemlist">
				<thead>
					<tr>
						<th width="30">排序</th>
						<th width="90"><%=list.hash.current%>级分类</th>
						<th width="80">创建时间</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					<% (list.data).forEach(function(d){ %>
					<tr>
						<td align="center"><class="uc-ico-id" target="_blank">
						<input type="text" value="<%=d.sort%>" 
							style="width: 50px; 
							border: 0;
    						text-align: c;
    						text-align: center;
						" name='sort[<%=d.id%>]'></td>
						<td align="center"><%=d.name%></td>
						<td align="center"><%=d.create_at%></td>
						<td align="center">
							<% if(list.level.current < 3) { %>
								<a href="/node/edit?id=<%=d.id%>&level=<%=list.level.current%>&pid=<%=list.id%>&ptitle=<%=list.name%>&title=<%=d.name%>">编辑</a>
								<% if(!d.knowledge) { %>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="/node/list?id=<%=d.id%>&level=<%=list.level.next%>"><%=list.hash.next%>级管理</a>
								<% } %>
							<% } else { %>
								<a href="/node/edit?id=<%=d.id%>&level=<%=list.level.current%>&pid=<%=list.id%>&ptitle=<%=list.name%>&title=<%=d.name%>">编辑</a>
							<% } %>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</from>
	</div>
</div>
<script type="text/javascript">
	$(function(){
  		leftmenu_select(0, 0);
  		if(<%=list.level.current%> == 3){
  			
  		}
  	});
</script>