<%
    function getType(type){
        var name = '文章';
        if(type == 2){
            name = '视频';
        }
        else if(type == 3){
            name = '文档';
        }
        else if(type == 4){
            name = '问答';
        }
        else if(type == 5){
            name = '代码';
        }
        return name;
    }

    function getBaseName(info){
        var name = '';
        var baseArr = new Array();
        for(var k in info){
            var baseName = info[k].baseName;
            baseArr.push(baseName);
            if(baseArr.indexOf(info[k].baseName) == k)
                if(name){
                    name += ' - ' + baseName + '知识库';
                }
                else{
                    name = baseName + '知识库';
                }
        }
        return name;
    }
%>
<div class="col-lg-10 col-md-9 ucbg-white">
    <div class="uc-inpli">
        <div>

        </div>
        <h2 class="uc-r-tit"><%=weekly.name%>周报内容添加</h2>
        <form class="form-horizontal" id="form1" name="form1" role="form">
            <div class="col-md-12  ucpl0">
                <div class="form-group">
                    <label for="usertype" class="col-sm-2 control-label">知识库:</label>
                    <div class="col-sm-10">
                        <select id="base_id" name="base_id" class="form-control" style="width:auto;">
                            <option value="0">请选择知识库</option>
                            <% base.forEach(function(d){ %>
                                <option value="<%=d.id %>" <%if(params.baseId==d.id) {%> selected = "selected" <%}%> ><%=d.name %></option>
                        <% }) %>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="date" value="<%=params.date %>">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="button" onclick="submit_form()" class="btn btn-primary">查 询</button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="button" onclick="add_content()" class="btn btn-primary">保存添加</button>
                    </div>
                </div>
            </div>
        </form>
        <form id="addContent" name="addContent" method="post" role="form" action="/weekly/add_content">
            <input type="hidden" id="content_ids_input" name="contentIds" value="">
            <input type="hidden" name="weeklyId" value="<%= weekly.id %>">
        </form>
        <div class="csdn-pagination ucfr">

            <table class="table table-hover table-bordered" id="itemlist">
                <thead>
                <tr>
                    <th>内容</th>
                    <th>类型</th>
                    <th>所属知识库</th>
                </tr>
                </thead>
                <tbody id="list_tbody">
                <% content.forEach(function(l){%>
                    <tr>
                        <td width="50%">
                            <% if((params.page==1)&&(!params.baseId)) {%>
                                <input type="checkbox" name="content_ids" checked="true" value="<%=l.id%>">
                            <% } else { %>
                                <input type="checkbox" name="content_ids" value="<%=l.id%>">
                            <% } %>
                            <a href="<%= l.url %>" class="uc-ico-id" target="_blank"><%=l.title%></a>
                        </td>
                        <td align="center" id="td-publish- l.base_id ">
                             <%=getType(l.content_type)%>
                        </td>
                        <td align="center">
                            <%=getBaseName(l.relation)%>
                        </td>
                    <tr>
                <%})%>
                </tbody>
            </table>
            <div class="csdn-pagination ucfr">
                 <%-partial('shared/partial-pager.ejs', {model: pageModel})%>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        leftmenu_select(4, 0);
    });

    function submit_form() {
        $("#form1").submit();
    }

    function add_content(){
        var checked_content_ids = [];
        $("[name='content_ids']").each(function(){
            if($(this).is(':checked')){
                checked_content_ids.push($(this).val())
            }
        });
        if(checked_content_ids.length > 0){
            $("#content_ids_input").val(checked_content_ids.join(','));
            $("#addContent").submit();
        }else{
            alert('请选择添加内容');
        }
    }
</script>