<%
function jsDateTimeToStr(timeStr){
    if(timeStr){
        var today = new Date(timeStr);
        var Y = today.getFullYear();
        if(isNaN(Y)) {
            Y = '0000';
        }
        var M = today.getMonth() + 1;
        if(M < 10){
            M = "0"+M;
        }
        if(isNaN(M)) {
            M = '00';
        }
        var D = today.getDate();
        if(D < 10){
            D = "0"+D;
        }
        if(isNaN(D)){
            D = '00';
        }
        var H = today.getHours();
        if(H < 10){
            H = "0"+H;
        }
        if(isNaN(H)) {
            H = '00';
        }
        var Minute = today.getMinutes();
        if(Minute < 10){
            Minute = "0"+Minute;
        }
        if(isNaN(Minute)) {
            Minute = '00';
        }
        var S = today.getSeconds();
        if(S < 10){
            S = "0"+S;
        }
        if(isNaN(S)) {
            S = '00';
        }
        return Y + '-' + M + '-' + D + ' ' + H + ':' + Minute + ':' + S;
    }
    else{
        return null;
    }
}

function getType(type){
    var name = '文章';
    if(type == 2){
        name = '视频';
    }
    else if(type == 3){
        name = '文档';
    }
    else if(type == 4){
        name = '问答';
    }
    else if(type == 5){
        name = '代码';
    }
    return name;
}

function getBaseName(info){
    var name = '';
    var baseArr = new Array();
    for(var k in info){
        var baseName = info[k].baseName;
        baseArr.push(baseName);
        if(baseArr.indexOf(info[k].baseName) == k)
            if(name){
                name += ' - ' + baseName + '知识库';
            }
            else{
                name = baseName + '知识库';
            }
    }
    return name;
}
%>

<div class="col-lg-10 col-md-9 ucbg-white">
    <div class="uc-inpli">
        <% if(weekly.length) { %>
            <h2 class="uc-r-tit">周报记录--第<%=weekly[weekly_page-1].id%>期: <%=jsDateTimeToStr(weekly[weekly_page-1].update_at)%>发送</h2>
        <% }else { %>
            <h2 class="uc-r-tit">周报记录</h2>
        <% } %>
        <div class="csdn-pagination ucfr">

            <table class="table table-hover table-bordered" id="itemlist">
                <thead>
                <tr>
                    <th width="70%">内容</th>
                    <th>所属知识库</th>
                    <th width="10%">类型</th>
                </tr>
                </thead>
                <tbody id="list_tbody">
                <% if(content.length) {%>
                <%content[weekly_page-1].forEach(function(l){%>
                <tr>
                    <td >
                        <a href="<%= l.url %>" class="uc-ico-id" target="_blank"><%=l.title%></a>
                    </td>
                    <td align="center"> <%=getBaseName(l.relation)%>  </td>
                    <td align="center"> <%=getType(l.content_type)%>  </td>
                </tr>
                <%})%>
                <% } %>
                <%if(promotion){%>
                <tr>
                    <td >
                        <a href="<%= promotion.url %>" class="uc-ico-id" target="_blank"><%=promotion.title%></a>
                    </td>
                    <td align="center"></td>
                    <td align="center">推广</td>
                </tr>
                <%}%>
                </tbody>
            </table>
            <div class="csdn-pagination ucfr">
                <%- partial('shared/partial-pager.ejs', {model: pageModel})%>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        leftmenu_select(4, 1);
    });
</script>
