<script type="text/javascript" src="/javascripts/WdatePicker.js"></script>
<div class="col-lg-10 col-md-9 ucbg-white">
    <div class="uc-inpli">
        <div>

        </div>
        <h2 class="uc-r-tit"><%= baseHash[base_id] %>专题</h2>
        <form class="form-horizontal" id="form1" name="form1" role="form">
            <div class="col-md-12  ucpl0">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">创建日期:</label>
                    <div class="col-sm-10 ucpl0">
                        <div class="row">
                            <div class="col-xs-6 ucw49">
                                <input class="form-control" value="<%= params && params.create_at ? params.create_at : ''%>" onclick="WdatePicker()" id="regbegin" type="text" name="create_at">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="usertype" class="col-sm-2 control-label">类型:</label>
                    <div class="col-sm-10">
                        <select id="knowledge_type" name="content_type" class="form-control" style="width:auto;">
                            <option value="all" <%= params && params.content_type == 'all' ? "selected='selected'" : '' %>>请选择类型</option>
                            <option value='1' <%= params && params.content_type == '1' ?"selected='selected'" : '' %> >文章</option>
                            <option value='2' <%= params && params.content_type == '2' ? "selected='selected'" : '' %> >资源</option>
                            <option value='3' <%= params && params.content_type == '3' ? "selected='selected'" : '' %> >视频</option>
                            <option value='4' <%= params && params.content_type == '4' ? "selected='selected'" : '' %> >问答</option>
                            <option value='5' <%= params && params.content_type == '5' ? "selected='selected'" : '' %> >代码</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="usertype" class="col-sm-2 control-label">知识点:</label>
                    <div class="col-sm-10">
                        <select id="knowledge" name="knowledge" class="form-control" style="width:auto;">
                            <option value="0">请选择知识点</option>
                            <% knowledge.forEach(function(d){ %>
                                <option value="<%=d.id %>" <%if(params.knowledge==d.id) {%> selected = "selected" <%}%> ><%=d.name %></option>
                        <% }) %>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">关键词:</label>
                    <div class="col-sm-10 ucpl0">
                        <div class="row">
                            <div class="col-xs-6 ucw49">
                                <input type="text" name="keys" value="<%= params && params.keys ? params.keys :'' %>">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="topic_id" value="<%= topic_id%>">
                <input type="hidden" name="base_id" value="<%= base_id%>">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="button" onclick="submit_form()" class="btn btn-primary">查 询</button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="button" onclick="add_content()" class="btn btn-primary">保存添加</button>
                    </div>
                </div>
            </div>
        </form>

        <form id="addContent" name="addContent" method="post" action="/topic/add_content">
            <input type="hidden" id="content_ids_input" name="content_ids" value="">
            <input type="hidden" name="topic_id" value="<%= topic_id %>">
            <input type="hidden" name="base_id" value="<%= base_id %>" >
        </form>

        <div class="csdn-pagination ucfr">

            <table class="table table-hover table-bordered" id="itemlist">
                <thead>
                <tr>
                    <th width="40%">内容</th>
                    <th>知识点</th>
                    <th>类型</th>
                    <th>创建时间</th>
                    <th>所属知识库</th>
                </tr>
                </thead>
                <tbody id="list_tbody">
                <% list.forEach(function(kc){ %>
                <tr>
                    <td align="left" width="40%">
                        <input type="checkbox" name="content_ids" value="<%= kc.knowledge_id%>-<%= kc.content_id %>">
                        <a href="<%= contentHash[kc.content_id][1] %>" class="uc-ico-id"><%= contentHash[kc.content_id][0]%></a>
                    </td>
                    <td align="center">
                        <a href="#"><%= knowledgeHash[kc.knowledge_id] %></a>
                    </td>
                    <td align="center"><%= kc.content_type %></td>
                    <td align="center"><%= kc.create_at %></td>
                    <td align="center">
                        <a href="#"><%= baseHash[kc.base_id]%></a>
                    </td>
                <tr>
                    <%})%>
                </tbody>
            </table>
            <div class="csdn-pagination ucfr">
                <%- partial('shared/partial-pager.ejs', {model: pageModel})%>
            </div>
        </div>
    </div>
</div>


<script>
    $(function(){
        leftmenu_select(2, 0);
    });
    
    function submit_form() {
        $("#form1").submit();
    }

    function add_content(){
        var checked_content_ids = [];
        $("[name='content_ids']").each(function(){
            if($(this).is(':checked')){
                checked_content_ids.push($(this).val())
            }
        });
        if(checked_content_ids.length > 0){
            $("#content_ids_input").val(checked_content_ids.join(','));
            $("#addContent").submit();
        }else{
            alert('请选择添加内容');
        }
    }
</script>