<div class="rightcontent">
	<div class="mainTitle clearfix"><%=title%></div>
	<div class="rightTitle"><a href="/knowledge/edit?base_id=<%=baseId%>&base_title=<%=baseTitle%>">+ 新建知识点</span></a></div>
	<div class="contentlist">
		<span class="yjdian"></span>
		<ul class="erlist clearfix"><h4>已选择</h4></ul>
		<ul class="selecbox clearfix">
			<% (list.select).forEach(function(d){ %>
				<li><label></label><em><a href="/knowledge/edit?base_id=<%=baseId%>&id=<%=d.id%>&name=<%=d.name%>&base_title=<%=baseTitle%>"><%=d.name%></a></em></li>
			<% }) %>
		</ul>
		<hr style="height:1px;border:none;border-top:1px solid #555555;" />
		<span class="yjdian"></span>
		<ul class="erlist clearfix"><h4>未选择</h4></ul>
		<ul class="selecbox clearfix">
			<% (list.noSelect).forEach(function(d){ %>
				<li><label></label><em><a href="/knowledge/edit?base_id=<%=baseId%>&id=<%=d.id%>&name=<%=d.name%>&base_title=<%=baseTitle%>"><%=d.name%></a></em></li>
			<% }) %>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$(function(){
  		leftmenu_select(0, 0);
  	});
</script>

<style>
    .rightcontent{margin-top:-10px;}
    .mainTitle{color:#000;font-size:25px;margin-bottom:15px;}
    .rightTitle{float:right;font-size:15px;}
    .yjdian{font-size:16px;}
    .erlist{margin-top:12px;margin-bottom:35px}
    .erlist .root{border:1px solid #ef5d53;}
    .erlist .root a{color:#ef5d53;}
    .erlist li{border:1px solid #666;float:left;padding:3px 10px;margin:0 5px 8px 0;}
    .erlist li a,.sublist li a{font-size:13px;}
    .clearfix:before,.clearfix:after {content: " ";  display: table;  clear: both;  overflow: visible;}
    .selecbox{margin-top:-20px;margin-bottom:15px;}
    .selecbox li{float:left;margin:0 15px 8px 0;}
    .selecbox li label{vertical-align:middle;color:#666;}
    .selecbox li em{margin-left:5px;}
    .subClick{font-size:15px;color:#fff;background:#ef5d53;border:none;width:80px;height:35px;margin-top:15px;}
</style>