<script type="text/javascript" src="/javascripts/WdatePicker.js"></script>
<div class="col-lg-10 col-md-9 ucbg-white">
    <div class="uc-inpli">
        <h2 class="uc-r-tit">知识库收录内容</h2>
        <form class="form-horizontal" id="form1" name="form1" role="form">
            <div class="col-md-12  ucpl0">

                <div class="form-group">
                    <label class="col-sm-2 control-label"><h6>知识库:</h6></label>
                    <div class="col-sm-9">
                        <div class="row">
                            <input type="button" data-base-id="all" value="全部" class="btn btn-primary is_select" onclick="select_base('all',this)">
                            <% bases.forEach(function(base){ %>
                                <input type="button" data-base-id="<%= base.id %>" value="<%= base.name %>" class="btn" onclick="select_base(<%= base.id%>,this)">
                            <% })%>
                            <input type="hidden" name="base_id" value="<%= params && params.base_id ? params.base_id : 'all' %>" id="base_id_input">
                        </div>
                    </div>
                </div>
                <script>
                    function select_base(base_id,event){
                        $(".is_select").removeClass("btn-primary is_select");
                        $(event).addClass('btn-primary is_select');
                        $("#base_id_input").val(base_id);
                    }
                    $(function(){
                        var base_id = "<%= params && params.base_id ? params.base_id : 'all' %>";
                        $(".is_select").removeClass("btn-primary is_select");
                        $("input.btn").each(function(e){
                            if($(this).attr('data-base-id') == base_id){
                                $(this).addClass('btn-primary is_select');
                            }
                        });
                    })

                </script>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">创建日期:</label>
                    <div class="col-sm-10 ucpl0">
                        <div class="row">
                            <div class="col-xs-6 ucw49">
                                <input class="form-control" value="<%= params && params.create_at ? params.create_at : ''%>" onclick="WdatePicker()" id="regbegin" type="text" name="create_at">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="usertype" class="col-sm-2 control-label">类型:</label>
                    <div class="col-sm-10">
                        <select id="knowledge_type" name="content_type" class="form-control" style="width:auto;">
                            <option value="all" <%= params && params.content_type == 'all' ? "selected='selected'" : '' %>>请选择类型</option>
                            <option value='1' <%= params && params.content_type == '1' ?"selected='selected'" : '' %> >文章</option>
                            <option value='2' <%= params && params.content_type == '2' ? "selected='selected'" : '' %> >资源</option>
                            <option value='3' <%= params && params.content_type == '3' ? "selected='selected'" : '' %> >视频</option>
                            <option value='4' <%= params && params.content_type == '4' ? "selected='selected'" : '' %> >问答</option>
                            <option value='5' <%= params && params.content_type == '5' ? "selected='selected'" : '' %> >代码</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">关键词:</label>
                    <div class="col-sm-10 ucpl0">
                        <div class="row">
                            <div class="col-xs-6 ucw49">
                                <input type="text" name="keys" value="<%= params && params.keys ? params.keys :'' %>">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="submit_form()" class="btn btn-primary">查 询</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="csdn-pagination ucfr">
            <% if(list.length > 0){%>
            <table class="table table-hover table-bordered" id="itemlist">
                <thead>
                <tr>
                    <th>内容</th>
                    <th>知识点</th>
                    <th>类型</th>
                    <th>创建时间</th>
                    <th>所属知识库</th>
                </tr>
                </thead>
                <tbody id="list_tbody">
                <% list.forEach(function(kc){ %>
                <tr>
                    <td align="center">
                        <a href="<%= contentHash[kc.content_id][1] %>" class="uc-ico-id"><%= contentHash[kc.content_id][0]%></a>
                    </td>
                    <td align="center">
                        <a href="#"><%= knowledgeHash[kc.knowledge_id] %></a>
                    </td>
                    <td align="center"><%= kc.content_type %></td>
                    <td align="center" ><%= kc.create_at %></td>
                    <td align="center">
                        <a href="#"><%= baseHash[kc.base_id]%>知识库</a>
                    </td>
                <tr>
                    <%})%>
                </tbody>
                </table>
            <div class="csdn-pagination ucfr">
                <%- partial('shared/partial-pager.ejs', {model: pageModel})%>
            </div>
            <%}else{%>
            <div align="left">
                没有符合条件的数据
            </div>
            <%}%>
        </div>
    </div>
</div>
<script>
    $(function(){
        leftmenu_select(3, 0);
    });
    function submit_form() {
       $("#form1").submit();
    }
</script>