
<script type="text/javascript" src="/scripts/WdatePicker.js"></script>
<script src="http://js.job.csdn.net/common/pop/jquery.larkyPopWindow.js" type="text/javascript"></script>
<script src="http://js.job.csdn.net/common/pop/jquery.larkyPopWindow.DropList.js" type="text/javascript"></script>
<script src="http://js.job.csdn.net/common/pop/jquery.larkyPopWindow.DropList.LocationSelector.js" type="text/javascript"></script>

<div class="uc-inpli">
	<h2 class="uc-r-tit">知识库专家</h2>
	<form class="form-horizontal" id="form1" method="post" name="form1" role="form" action="/expert/doAdd" enctype="multipart/form-data">
		<div class="form-group">
			<label for="platType" class="col-sm-2 control-label">专家姓名</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="realname" id="realname" value="<%=info['realname']%>">
			</div>
		</div>
		<div class="form-group">
		  <label for="type" class="col-sm-2 control-label">用户名</label>
		  <div class="col-sm-10">
        	<input class="form-control" type="text" name="username" id="username" value="<%=info['username']%>" onblur="checkUser()">
			</div>
		</div>
		<div class="form-group">
      <label class="col-sm-2 control-label">专家介绍</label>
      <div class="col-sm-10">
        <textarea cols="100" rows="10" id="introduction" name="introduction"><%=info['introduction']%></textarea>
      </div>
    </div>
		<div class="form-group" id="owner1">
			<label class="col-sm-2 control-label">专家头像</label>
			<div class="col-sm-10">
				<img src="<%=info['avatar_url']%>">
				<input class="" value="" id="avatar" type="file" name="avatar">
			</div>
		</div>
		<div class="form-group" id="owner2">
      <label class="col-sm-2 control-label">所属知识库</label>
      <div class="col-sm-10">
      <% bases.forEach(function(row){%>
		  <span class="ckbox"><label><input type="radio" name="base_id" value="<%=row.id%>" onclick="checkBase();" <%if(row.id == info['base_id']){%>checked<%}%> class="form-control"><em><%=row.name%></em></label></span>
      	<!--<input class="form-control" value="<%=row.id%>" type="radio" name="base_id" <%if(row.id == info['base_id']){%>checked<%}%>><%=row.name%>-->
      <%})%>
      </div>
    </div>

		<input type="hidden" name="id" value="<%=info['id']%>"/>
		<input type="hidden" id="c_username" value="1">
		<input type="hidden" id="c_base_id" value="1">


		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input class="btn btn-primary" value="提交" type="button" onclick="doSubmit()">&nbsp;&nbsp;&nbsp;&nbsp;
				<input class="btn btn-primary" value="删除专家" type="button" onclick="doDel(<%=info['id']%>)">
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(function(){
		leftmenu_select(1, 0);
	});

	function doSubmit(){
		var realname = $.trim($('#realname').val());
		var username = $.trim($('#username').val());
		var introduction = $.trim($('#introduction').val());
		var base_id = $('input[name="base_id"]:checked ').val();

		if(realname == ''){
			alert('请填写专家姓名');
			return false;
		}
		if(username == ''){
			alert('请填写用户名');
			return false;
		}
		if(introduction == ''){
			alert('请填写专家介绍');
			return false;
		}
		if(base_id == '' || base_id == undefined){
			alert('请选择知识库');
			return false;
		}

		checkUser();
//		checkBase();
		var c_username = parseInt($('#c_username').val());
		var c_base_id = parseInt($('#c_base_id').val());

		if(c_username == 1 && c_base_id == 1){
			$('#form1').submit();
		}


	}

	function checkUser(){
		var username = $.trim($('#username').val());
		if(username !=''){
			if(username != '<%=info['username']%>'){
				$.ajax({
					url: '/expert/checkUserAjax',
					type: "post",
					data: {username:username},
					datatype: "json",
					success: function (data) {
						if(data.succ == 1){
							$('#c_username').val(1);
						}else{
							$('#c_username').val(0);
							alert(data.msg);
							return false;
						}
					}
				});
			}else{
				$('#c_username').val(1);
			}
		}
	}

	function checkBase(){
		var username = $.trim($('#username').val());
		var base_id = $('input[name="base_id"]:checked ').val();
		if(base_id !=''){
			if(base_id != '<%=info['base_id']%>'){
				$.ajax({
					url: '/expert/getUnCompleteAjax',
					type: "post",
					data: {expert:username},
					datatype: "json",
					success: function (count) {
						if(count == 0){
							$('#c_base_id').val(1);
						}else{
							$('#c_base_id').val(0);
							alert('该用户有尚未完成的内容收录，不能修改知识库');
							return false;
						}
					}
				});
			}else{
				$('#c_base_id').val(1);
			}
		}
	}

	function doDel(id){
		$.ajax({
			url: '/expert/doDel',
			type: "post",
			data: {id:id},
			datatype: "json",
			success: function (data) {
				if(data.succ == 1){
					alert('成功');
					document.location.href="/expert/list";
				}else{
					alert(data.msg);
					return false;
				}
			}
			, error: function () {
				alert("数据操作失败，请重试");
				return false;
			}
		});
	}
</script>
<style>
	.ckbox{padding: 0px 10px;float:left;margin-top:6px;}
	.ckbox label{margin:0px;float:left;vertical-align:middle;}
	.ckbox label input{float:left;width:auto;height:auto;}
	.ckbox label em{vertical-align:middle;display:inline-block;margin-left:5px;}
</style>